h1 {
    color:black;
    text-align: center;
    padding: 20px;
}

h4 {
    text-align: center;
}

div {
    margin: auto;
    }

hr {
    color: gray;
    background-color:gray;
}

a {
    color: black;
    vertical-align: middle;
}

li {
    margin-bottom: 7px;
  }

col {
    border: black;
}

.centered {
    display: flex;
    justify-content: center;
    vertical-align: text-top;
}

.right {
    float: right;
    padding-top: 10px;
}

button {
    margin: auto;
    padding: 20px;
}