{% extends "layout.html" %}

{% block title %}
    <script src="static/index2.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <title>Angel</title>
{% endblock %}

{% block heading %}
    <h1>Flack</h1>
{% endblock %}

{% block body %}
<div class="container">
    <h4>Welcome <p style="display:inline" id="registered_username"></p>!</h4>
    <hr>
</div>
<div class="container">
    <h4>Messages:</h4>
    <div class="form-group">
        <form id="form2" class="centered">
            <input id="message" autocomplete="off" autofocus placeholder="Type your message..." type="text">
            <input id="submit2" type="submit">
        </form>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <ul id="messages">
            </ul>
        </div>
    </div>
    <ul id="message_list">
    <hr>
    <button data-vote="yes">Yes</button>
    <button data-vote="no">No</button>
    <button data-vote="maybe">Maybe</button>
    
</div>
{% endblock %}