{% extends "layout.html" %}

{% block title %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#submit').disabled = true;
        document.querySelector('#new-channel').onkeyup = () => {
            if (document.querySelector('#new-channel').value.length > 0)
                document.querySelector('#submit').disabled = false;
            else
                document.querySelector('#submit').disabled = true;
        };

        // Automatic scroll down channel box
        var objDiv = document.getElementById("channel_box");
        objDiv.scrollTop = objDiv.scrollHeight;
    });
</script>

<title>Flack</title>

{% endblock %}

{% block body %}
<div class="container">
    <h4>Welcome {{session.username}}!</h4>
    <hr>
    <div class="row">
        <div class="col col-lg-8">
            <h5 class="centered">
                List of channels:
            </h5>
            <div class="form-group" style="overflow-y: scroll; height: 360px; width: auto;" id="channel_box">
                <div class="list-group" id="channel-list">
                    {% for x in channel_list %}
                    <input type="radio" name="RadioInputName" id="ID{{ x }}" value="{{ x }}"
                        onclick="window.location='http://127.0.0.1:5000/channel/{{x}}'">
                    <label for="ID{{ x }}" class="list-group-item">{{ x }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <form id="form" class="centered" method="POST">
                    <input id="new-channel" name ="new-channel" class="form-control" autocomplete="off" placeholder="New channel..."
                        type="text" maxlength="15">
                    <input id="submit" type="submit" value="Create">
                </form>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock %}